<h1>✏️ 일기 수정하기</h1>

<form action="/diaries/<%= diary._id %>?_method=PUT" method="POST">
  <input type="text" name="title" value="<%= diary.title %>" required><br>
  <textarea name="content" required><%= diary.content %></textarea><br>
  <button type="submit">저장하기</button>
</form>

